div.dokuwiki table {
  font-size: 100%;
}

/* inline tables */
div.dokuwiki table.inline {
  background-color: __background__;
  border-spacing: 0px;
  border-collapse: collapse;
}

div.dokuwiki table.inline th {
  padding: 3px;
  border: 1px solid __border__;
  background-color: __background_alt__;
}

div.dokuwiki table.inline th input {
        font-weight: bold;
}

div.dokuwiki table.inline td {
  padding: 3px;
  border: 1px solid __border__;
}

div.dokuwiki div.editbutton_table form input.button:hover {
        color: __mediumgray__;
}

div.dokuwiki div.editbutton_table form input.button {
        background-color:__background__;
        border:1px solid __border__;
        background:transparent url(/lib/tpl/icke/images/icons/stift_klein.png) no-repeat scroll right top;
        border-top: none;
        cursor:pointer;
        display:inline;
        font-size:10px;
        margin:0;
        padding:0;
        padding-right: 28px;
        text-decoration:none;
        vertical-align:middle;
}

div.dokuwiki div.editbutton_table {
        margin-top: -1.2em;
        margin-bottom: 1.2em;
}


html > body div.dokuwiki table.edit td.handle {
        cursor: move;
}
html > body div.dokuwiki table.edit td.disabledhandle {
        background-image: none;
        background-color: #c0c0c0;
        cursor: no-drop;
}
