/* content format */

#icke__page .content .page {
    color: __mediumgray__;
}

#icke__page .content p,
#icke__page .content blockquote,
#icke__page table,
#icke__page pre {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 0 1em;
}

#icke__page .content p p,
#icke__page .content blockquote blockquote,
#icke__page .content table blockquote,
#icke__page table table,
#icke__page pre pre {
    font-size: 1em;
    line-height: 1em;
}

#icke__page .content h1 a,
#icke__page .content h2 a,
#icke__page .content h3 a,
#icke__page .content h4 a,
#icke__page .content h5 a,
#icke__page .content h6 a {
    color: __mediumgray__;
}

#icke__page .content pre {
    border: 1px dashed __border__;
    color: __text__;
    font-size: 150%;
    overflow: auto;
    padding: 0.5em;
}

#icke__page .content pre.file {
    background-color: __background_alt__;
}

#icke__page .content code,
#icke__page .content samp {
    font-size: 1.2em;
}

#icke__page .content pre.code {
    background-color: __background_other__;
}

#icke__page .content pre.code {
    width: 95%;
}

#icke__page img.mediaright {
    padding: 0 0 0.5em 0.3em;
}

#icke__page img.medialeft {
    padding: 0.5em 0.3em 0 0;
}

#icke__page table {
    width: 100%;
    margin-bottom: 0;
}

#icke__page div.table {
    overflow: auto;
    margin-bottom: 1em;
}

#icke__page .content a {
    color: __link__;
}

#icke__page .content a:visited {
    color: __link_visited__;
}

#icke__page .content blockquote {
    border-left: 2px solid __border__;
    padding-left: 3px;
}

#icke__page .content div.footnotes {
    border-top: 1px solid __border__;
    clear: both;
    margin-top: 2em;
    padding-top: 0.5em;
    padding-left: 1em;
    font-style: italic;
    line-height: 1.4em;
}

* html #icke__page .content pre.code {
    overflow: scroll;
    width: 70%;
}

