/* content format */

#icke__page .content .page {
    color: __mediumgray__;
}

#icke__page .content p,
#icke__page .content blockquote,
#icke__page table,
#icke__page pre {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 0 1em;
}

#icke__page .content p p,
#icke__page .content blockquote blockquote,
#icke__page .content table blockquote,
#icke__page table table,
#icke__page pre pre {
    font-size: 1em;
    line-height: 1em;
}

#icke__page .content h1,
#icke__page .content h2,
#icke__page .content h3,
#icke__page .content h4,
#icke__page .content h5 {
    clear: left;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.2em;
}

#icke__page .content h1 {
    font-size: 2.2em;
}

#icke__page .content h2 {
    font-size: 1.7em;
}

#icke__page .content h2 a {
    color: __mediumgray__;
}

#icke__page .content h3 {
    font-size: 1.5em;
    margin-left: 28px;
}

#icke__page .content h4 {
    font-size: 1.3em;
    margin-left: 40px;
}

#icke__page .content h5 {
    font-size: 1.1em;
    margin-left: 50px;
}

#icke__page .content pre {
    border: 1px dashed __border__;
    color: __text__;
    font-size: 150%;
    overflow: auto;
    padding: 0.5em;
}

#icke__page .content pre.file {
    background-color: __background_alt__;
}

#icke__page .content code,
#icke__page .content samp {
    font-size: 1.2em;
}

#icke__page .content pre.code {
    background-color: __background_other__;
}

#icke__page .content pre.code {
    width: 95%;
}

#icke__page table {
    width: 98%;
}

#icke__page .content a {
    color: __link__;
}

#icke__page .content a:visited {
    color: __link_visited__;
}

#icke__page .content ul,
#icke__page .content ol {
    line-height: 1.5em;
    font-size: 1.2em;
    list-style-image: none;
    margin: 0 0 1em 3.5em;
}

#icke__page .content ul{
    list-style-type: square;
}

#icke__page .content ol ol {
    list-style-type: upper-roman; 
}

#icke__page .content li ul,
#icke__page .content li ol {
    font-size: 1em;
    margin-left: 15px;
}

#icke__page .content blockquote {
    border-left: 2px solid __border__;
    padding-left: 3px;
}

#icke__page .content div.footnotes {
    border-top: 1px solid __border__;
    clear: both;
    margin-top: 2em;
    padding-top: 0.5em;
    padding-left: 1em;
    font-style: italic;
    line-height: 1.4em;
}

* html #icke__page .content pre.code {
    overflow: scroll;
    width: 70%;
}

