
#icke__toolbar {
    display: none;
}


@media (max-width: 600px) {

    .nomobile {
        display: none;
    }

    #icke__header {
        display: none;
    }

    #icke__quicknav {
        float: none;
        position: static;
        width: auto;
        clear: left;
    }

    #icke__quicknav li {
        float: left;
        width: 30px;
    }

    #icke__quicknav li.separator {
        border-top: none;
        border-left: 1px solid __nav_seperator__;
        margin: 0;
        padding: 5px 10px;
        margin-left: 10px;
    }

    #icke__quicknav a.qnav_item {
        background-size: 100%;
        height: 30px;
        width: 30px;
    }

    #icke__quicknav li:hover div.sec_level,
    #icke__quicknav li.hover div.sec_level {
        display: none;
    }


    #icke__sidebar {
        display: none; //FIXME reintroduce somewhere
    }

    #icke__wrapper {
        background-image: none;
    }

    #icke__wrapper .wrap {
        margin: 0;
        padding: 0;
        background-image: none;
    }

    #icke__toolbar {
        display: block;
    }

    #icke__toolbar form {
        float: left;
        font-size: 12px;
    }

    #icke__toolbar select,
    #icke__toolbar input {
//        border: 1px solid __border__;
        border: none;
        background-color: #fff;
        height: 30px;
        margin: 0 5px 0 0;
        padding: 0 5px;
    }

    #icke__page {
        clear: both;
        margin: 0;
        position: static;
        padding: 0;
    }

    #icke__page .content {
        padding: 10px 10px 20px 10px
    }

    div.dokuwiki div.secedit button {
        margin-right: 0;
    }

    div.dokuwiki div.bc,
    #icke__footer .admin_toolbar,
    #plugin__qc__wrapper,
    .qsub__link,
    #plugin__starred {
        display: none;
    }

}
