div.dataplugin_entry {
    padding-top: 1px;
    margin-left: -13px;
    background: transparent url(images/icons/datatable_cog.png) no-repeat scroll -1px top;
}

div.dataplugin_entry dl {
        font-size: 1.2em;
        line-height: 1.3em;
        width: auto;
        background: __background__;
}

div.dataplugin_entry dl dt {
        text-align: left;
        width: auto;
}

#icke__page .dataplugin_table,
#icke__page .content .dataplugin_list {
    min-height: 2em;
    background: transparent url(images/icons/datatable_link.png) no-repeat scroll -1px top;
    padding-top: 0.8em;
    padding-left: 1.5em;
    margin-left: -1.5em;
}

#icke__page .content .dataplugin_list {
    padding-left: 3em;
}

#icke__page table.dataplugin_table {
    border-collapse: separate;
    border: 0;
}

#icke__page table.dataplugin_table th,
#icke__page table.dataplugin_table td {
        padding: 5px;
        border: 0;
        border: 1px solid __border_alt2__;
}

div.dokuwiki div.editbutton_table form input.button {
        margin-left: 5px;
}

div.dokuwiki div.editbutton_plugin_data form input.button {
        -moz-background-clip:border;
        -moz-background-inline-policy:continuous;
        -moz-background-origin:padding;
        background:transparent url(images/icons/stift_klein.png) no-repeat scroll right top;
        border: 1px solid #8CACBB;
        border-top: 0;
        cursor:pointer;
        display:inline;
        font-size:10px;
        margin:0;
        padding:0 25px 2px 3px;
        text-decoration:none;
        vertical-align:middle;

        -moz-border-radius-bottomleft: 0.5em;
    -opera-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
        -moz-border-radius-bottomright:0.5em;
    -opera-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
        float:none;
        margin-left:2.1em;
}

div.dokuwiki div.editbutton_plugin_data {
    margin-top: -1.2em; /* depends on the dl margin */
    margin-bottom: 1.2em;
}

#dw__editform fieldset.plugin__data {
        clear: none;
}
