div.dokuwiki #tagging_tagcloud {
    font-size: 1.3em;
}

div.dokuwiki #tagging_tagcloud li a {
    text-decoration: none;
}

div.dokuwiki #tagging_tagcloud li.tagging_owntag a {
    color: __color_tag__;
}

#pte_tags_edit_start {
    text-align: left;
}

#pte_tags_edit_start input.pte_tags_edit_field {
    display: block;
}
