div.dataplugin_entry {
    padding-top: 1px;
    margin-left: -13px;
    background: transparent url(images/icons/datatable_cog.png) no-repeat scroll -1px top;
    min-height: 30px;
}

/* IE 7 only hack, does correctly position wheel */
*:first-child+html div.dataplugin_entry {
    padding-top: 0 !important;
    margin-top: 14px;
}

div.dataplugin_entry dl {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-right: 0;
    width: auto;
    background: __background__;
}

div.dataplugin_entry dl dt {
    text-align: left;
    width: auto;
}

#icke__page .dataaggregation {
    background: transparent url(images/icons/datatable_link.png) no-repeat scroll -1px top;
    min-height: 30px;
    padding-top: 11px;
    padding-left: 16px;
    margin-left: -16px;
}

#icke__page .dataaggregation .dataplugin_list {
    padding-left: 3em;
}

#icke__page table.dataplugin_table th,
#icke__page table.dataplugin_table td {
    padding: 5px;
}

div.dokuwiki div.editbutton_plugin_data form input.button,
div.dokuwiki div.editbutton_plugin_data form input.button:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(images/icons/stift_klein.png) no-repeat scroll right top;
    border: 1px solid #8CACBB;
    border-top: 0;
    cursor:pointer;
    display:inline;
    font-size:10px;
    margin:0;
    padding:0 25px 2px 3px;
    text-decoration:none;
    vertical-align:middle;

    -moz-border-radius: 0;
    -opera-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    -moz-border-radius-bottomleft: 0.5em;
    -opera-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomright:0.5em;
    -opera-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    float:none;
    margin-left:2.1em;
    text-indent: 0px;
}

*:first-child+html div.dokuwiki div.editbutton_plugin_data form input.button {
    width: auto;
    font-size: 10px;
    line-height: 1.2em;
}

*:first-child+html div.dokuwiki div.editbutton_plugin_data form input.button:hover {
    font-size: 10px;
    line-height: 1.2em;
}

div.dokuwiki div.editbutton_plugin_data {
    margin-top: -1.2em; /* depends on the dl margin */
    margin-bottom: 1.2em;
}

#dw__editform fieldset.plugin__data {
    clear: none;
}
