
#icke__page .content a.plugin_do_status {
        text-decoration: none;
}

#icke__page .plugin__do_pagetasks {
        float:right;
        font-size:14px;
        margin-top:8px;
}

#do__popup ul {
    font-size: 1.2em;
    list-style-image: none;
}
