/* Edit link – keep synchronous to secedit.css */
#icke__sidebar .sideclip .btn_tagging_edit input.button {
    background: transparent url(images/icons/stift_klein.png) center right no-repeat;
    border: none;
    color: __edit_lnk__;
    cursor: pointer;
    float: right;
    height: 25px;
    text-align: center;
    text-indent: -99999px;
    padding-top: 0px;
    padding-bottom: 0;
    padding-right: 25px;
    font-size: 11px;
    margin-right: 0;
}

div.dokuwiki div.secedit input.button:hover,
#icke__sidebar .sideclip .btn_tagging_edit .button:hover {
    text-indent: 0px;
    background-color: white;
    -moz-border-radius: 10px;
    -opera-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

*:first-child+html #icke__sidebar .sideclip .btn_tagging_edit input.button {
    width: 42px;
    font-size: 0;
    line-height: 0;
}

*:first-child+html #icke__sidebar .sideclip .btn_tagging_edit input.button:hover {
    width: auto;
    font-size: 12px;
    line-height: 14px;
}

div.dokuwiki .tagging_cloud {
    font-size: 1.3em;
}

#tagging_edit {
    font-size: 1.2em;
}

#tagging_edit input {
    width: 95%;
    margin: 0.5em 0;
}

#tagging_edit input.button {
    width: 49%;
    margin: 0px;
}

div.dokuwiki .tagging_cloud li a {
    text-decoration: none;
}

div.dokuwiki .tagging_cloud li a:hover {
    text-decoration: underline;
}
