.search_result {
	margin-bottom: 10px;
	padding: 0 10px 0 30px;
}

.search_result a.wikilink1 {
	font-size: 1.2em;
}

.search_result .search_snippet {
	color: #7E7070;
	font-size: 12px;
	margin-left: 20px;
}

.search_result strong.search_hit {
	font-weight: normal;
}

.search_result .search_hit {
	background-color: #FFFF99;
	color: #000000;
}

ul.search_quickhits {
	clear: both;
	padding-bottom: 10px;
}

ul.search_quickhits li {
	float: left;
	min-width: 10em;
	width: auto;
	padding-bottom: 6px;
}
