/* Layout Styles
   Author: Florian Purchess
   ----------------------------------------------------*/


/* =BASE
   ----------------------------------------------------*/

body {
    background: #b5b5b5;
    position: relative;
}

a,a:hover {color: #000;}
a:hover {text-decoration: none;}

/* =HEADER
   ----------------------------------------------------*/

#icke__header {
    background: #e0e0e0 url(images/layout/head_gradient.jpg) top left repeat-x;
    height: 126px;
    overflow: hidden;
    padding: 0 1em;
    position: relative;
}

#icke__header .logo {
	border-right: 1px solid #dcdcdc;
    float: left;
    height: 126px;
    width: 100px;
}

#icke__header h5 {
    color: #2772b6;
    font-size: 28px;
    font-weight: bold;
    float: left;
    left: 135px;
    line-height: 1.3em;
    position: absolute;
    top: 30px;
}

#icke__header h5 span {
    color: #333;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.15em;
}

#icke__header .branding {
    background: #fff url(images/logos/icke_logo.jpg) center center no-repeat;
    width: 180px;
    height: 125px;
    text-indent: -9999px;
    float: right;
    display: block;
}

/* =WRAPPER
   ----------------------------------------------------*/

#icke__wrapper {
    background: transparent url(images/layout/wrap_shadow_x_top.png) top left repeat-x;
}

/* =QUICKNAV
   ----------------------------------------------------*/

#icke__quicknav {
    float: left;
    margin: 3em 0;
    position: fixed;
    left: 0;
    width: 10em;
}

/* first-level navigation */
#icke__quicknav li {
    margin: 0 auto;
    padding: 5px;
    position: relative;
    width: 50px;
}

#icke__quicknav li.separator {
    border-top: 1px solid #5f5b5b;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

#icke__quicknav a.dashboard,
#icke__quicknav a.fachwissen,
#icke__quicknav a.allgemeines,
#icke__quicknav a.projekte,
#icke__quicknav a.produkte,
#icke__quicknav a.kunden,
#icke__quicknav a.einstellungen {
    background: transparent top left no-repeat;
	display: block;
	height: 60px;
	text-indent: -9999px;
	width: 60px;
}

#icke__quicknav a.dashboard {background-image: url(images/icons/60x60/dashboard_inaktiv.png);}
#icke__quicknav li:hover a.dashboard {background-image: url(images/icons/60x60/dashboard_aktiv.png);}

#icke__quicknav a.fachwissen {background-image: url(images/icons/60x60/fachwissen_inaktiv.png);}
#icke__quicknav li:hover a.fachwissen {background-image: url(images/icons/60x60/fachwissen_aktiv.png);}

#icke__quicknav a.allgemeines {background-image: url(images/icons/60x60/allgemein_inaktiv.png);}
#icke__quicknav li:hover a.allgemeines {background-image: url(images/icons/60x60/allgemein_aktiv.png);}

#icke__quicknav a.projekte {background-image: url(images/icons/60x60/projekte_inaktiv.png);}
#icke__quicknav li:hover a.projekte {background-image: url(images/icons/60x60/projekte_aktiv.png);}

#icke__quicknav a.produkte {background-image: url(images/icons/60x60/produkte_inaktiv.png);}
#icke__quicknav li:hover a.produkte {background-image: url(images/icons/60x60/produkte_aktiv.png);}

#icke__quicknav a.kunden {background-image: url(images/icons/60x60/kunden_inaktiv.png);}
#icke__quicknav li:hover a.kunden {background-image: url(images/icons/60x60/kunden_aktiv.png);}

#icke__quicknav a.einstellungen {background-image: url(images/icons/60x60/setting_inaktiv.png);}
#icke__quicknav li:hover a.einstellungen {background-image: url(images/icons/60x60/setting_aktiv.png);}

/* =PAGE
   ----------------------------------------------------*/

#icke__wrapper .wrap {
    background: transparent url(images/layout/wrap_shadow_y_left.png) top left repeat-y;
    margin: 0 0 0 9.7em;
    padding: 0 0 0 14px;
}

#icke__page {
    background: transparent url(images/layout/wrap_shadow_y_right.png) top right repeat-y;
    margin: 0 18.6em 0 0;
    padding: 0 1.4em 0 0;
}

/* drophead */
#icke__page #icke__drophead {
    background: #2772B6 url(images/layout/wrap_shadow_x_top.png) top left repeat-x;
    color: #fff;
    overflow: hidden;
    padding: 0.5em 2.5em 0.5em 2em;
}

/* document-meta */
#icke__page p.meta {
    line-height: 1em;
    margin: 0;
}

#icke__page p.meta .lastmod {
    font-size: 0.9em;
    color: #333;
}

#icke__page p.meta .author {
    color: #7f7f7f;
    font-size: 0.8em;
    text-decoration: none;
}

#icke__page p.meta .author:hover {
    border-bottom: 1px dotted #7f7f7f;
}

/* document-content */
#icke__page .content {
    background-color: #fefefe;
    padding: 10px 120px 20px 30px;
    font-size: 1.1em;
}


/* =FOOTER
   ----------------------------------------------------*/

#icke__footer {
    color: #fefefe;
}

#icke__footer .admin_toolbar {
    background: #fefefe;
    border-top: 1px solid #545454;
    color: #fefefe;
    height: 45px;
    padding: 0.25em 2.5em 0.25em 2em;
}

#icke__footer .admin_toolbar a.edit {
	background: transparent url(images/icons/stift_gross.png) top right no-repeat;
	color: #5f5f5f;
	display: block;
	float: right;
	font-size: 1.1em;
	height: 20px;
	padding: 16px 40px 0 0;
}

#icke__footer .footer_toolbar {
	background: #545454 url(images/layout/footer_gradient.jpg) top left repeat-x;
	height: 17px;
    padding: 6px 2.5em 0 2em;
}

#icke__footer .footer_toolbar p {
    margin: 0 0 0.5em 0;
    float: left;
}

#icke__footer .footer_toolbar a {
    color: #eee;
    margin: 0 0.25em;
    text-decoration: none;
}

#icke__footer .footer_toolbar a:hover {
    border-bottom: 1px dotted #fefefe;
}

#icke__footer .footer_toolbar .copy {
    text-align: right;
    float: none;
}

/* =SIDEBAR
   ----------------------------------------------------*/

#icke__sidebar {
    float: right;
    padding: 0 1em 0 0;
    width: 19em;
}

/* default sideclip */
#icke__sidebar .sideclip {
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    background: #fefefe url(images/layout/wrap_shadow_y_right.png) top left repeat-y;
    margin: 2em 0;
    padding: 1em;
}

#icke__sidebar h2,
#icke__sidebar h3 {
    border-bottom: 1px solid #333;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0.75em;
}

#icke__sidebar h3 {
    font-size: 1.2em;
    margin-top: 1em;
}

#icke__sidebar table {
    font-size: 1.2em;
    line-height: 1.4em;
}

#icke__sidebar table th {
    font-weight: bold;
    text-align: left;
    padding: 0.5em 0;
}

#icke__sidebar table td {
    padding: 0 0.5em 0 0;
}

/* logon */
#icke__sidebar .logon {
    background: #fff url(images/layout/wrap_shadow_x_top.png) top left repeat-x;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    margin: 0 0 0 1em;
    padding: 0.5em 1em 0;
    height: 2em;
}

#icke__sidebar .logon .profile {
    color: #333;
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3em;
    text-decoration: none;
}

#icke__sidebar .logon .logout {
    background: transparent url(images/icons/logout2.png) top left no-repeat;
    float: right;
    display: block;
    height: 18px;
    text-indent: -9999px;
    width: 18px;
}

/* search */
#icke__sidebar .search {
    -moz-border-radius: 10px;
    background-color: #fff;
    margin: 5em 0 1em 1em;
    padding: 0.5em 0.5em 0;
}
#icke__sidebar .search #ns_custom {
    background: transparent url(images/icons/search_drop.png) right center no-repeat;
    float: left;
    height: 25px;
    position: relative;
    width: 45px;
}
#icke__sidebar .search #ns_custom.closed {
    overflow: hidden;
}

#icke__sidebar .search #ns_custom ul {
    -moz-border-radius: 5px;
    background: #fefefe;
    border: 1px solid #333;
    left: 0px;
    padding: 0 1px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

#icke__sidebar .search #ns_custom.closed ul {
    background-color: transparent;
    border: 0;
}

#icke__sidebar .search #ns_custom ul li {
    height: 30px;
    overflow: hidden;
}

#icke__sidebar .search .query {
    border: 1px solid #ccc;
    color: #999;
    float: left;
    margin: 0.25em 0.25em 0 0.5em;
    padding: 0 2px;
    width: 6.75em;
}

#icke__sidebar .search .submit {
    background: transparent url(images/icons/btn_search.png) center center no-repeat;
    border: 0;
    height: 25px;
    margin: 0 0 0.25em;
    padding: 0;
    text-indent: -9999px;
    width: 20px;
}

/* table of contents */
#icke__sidebar .table_of_contents {
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    background: #fefefe none;
    margin: 2em 0 3em;
}

#icke__sidebar .table_of_contents li li {
    margin-left: 1em;
}

#icke__sidebar .table_of_contents div.tocheader,
#icke__sidebar .table_of_contents h2,
#icke__sidebar .table_of_contents h3 {
    border-bottom: 1px solid #333;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0.75em;
}

#icke__sidebar .table_of_contents h3 {
    font-size: 1.2em;
    margin-top: 1em;
}

#toc__toggle {
    display: none;
}

/* table of contents - toc */
#icke__sidebar .table_of_contents ul.toc li a {
    color: #333;
    font-size: 1.4em;
    line-height: 1.5em;
    text-decoration: none;
}

#icke__sidebar .table_of_contents ul.toc li .edit {
    background: transparent url(images/icons/edit.png) top left no-repeat;
    display: none;
    height: 14px;
    text-indent: -9999px;
    width: 14px;
}

#icke__sidebar .table_of_contents ul.toc li:hover .edit {
    display: block;
    float: right;
}

/* table of contents - tags */
#icke__sidebar .table_of_contents ul.tags {
    line-height: 1.6em;
}

#icke__sidebar .table_of_contents ul.tags li {
    display: inline;
    margin: 0 0.5em 0 0;
}

#icke__sidebar .table_of_contents ul.tags .tag_3 {
    font-size: 1.5em;
}
#icke__sidebar .table_of_contents ul.tags .tag_2 {
    font-size: 1.2em;
}
#icke__sidebar .table_of_contents ul.tags .tag_1 {
    font-size: 1.0em;
}
