div.dokuwiki div.secedit input.button {
    background: transparent url(images/icons/stift_klein.png) top right no-repeat;
    border: none;
    color: #5f5f5f;
    cursor: pointer;
    float: right;
    height: 27px;
    margin-top: -45px;
    margin-right: -95px;
    padding-top: 12px;
    padding-right: 30px;
    text-decoration: underline;
}


#icke__page .content div.section_highlight {
    background-color: #e5e5e5;
    margin-left: -30px;
    margin-right: -120px;
    padding-left: 30px;
    padding-right: 120px;
}
