div.dokuwiki div.secedit button {
    background: transparent url(images/icons/stift_klein.png) center right no-repeat;
    border: none;
    color: __edit_lnk__;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-top: -27px;
    margin-right: -42px;
    padding-right: 25px;
    text-align: center;
    text-indent: -99999px;
    padding-top: 0px;
    padding-bottom: 0;
}


div.dokuwiki div.secedit button:hover {
    text-indent: 0px;
    background-color: white;
    -moz-border-radius: 10px;
    -opera-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

*:first-child+html div.dokuwiki div.secedit button {
    width: 42px;
    font-size: 0;
    line-height: 0;
}

*:first-child+html div.dokuwiki div.secedit button:hover {
    width: auto;
    font-size: 12px;
    line-height: 14px;
}
